# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.gch
src/driver

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

src/motor_drive/*.h
src/motor_drive/*.cpp
